{% extends 'base.html' %}
{% load static %}
{% block content %}


{% for instance in object_list %}

<div class="col-md-6">

    <div class="card flex-md-row mb-4 box-shadow h-md-250">

        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Category</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
            </h3>
            <div class="mb-1 text-muted">{{ instance.author.username }} - {{ instance.publish_date }}</div>
            <a class="text-dark" href="{{ instance.get_absolute_url }}">
                <p class="card-text mb-auto">{{ instance.content|truncatechars:128}}</p>
            </a>
        </div>
        <a href="{{ instance.get_absolute_url }}">
            {% if instance.thumbnail_url and instance.thumbnail_url != " " %}
            <img class="card-img-right flex-auto d-none d-md-block " data-src="" alt="Thumbssnail [200x250]"
                style="width: 200px; height: 250px; object-fit:cover;" src="{{ instance.thumbnail_url }}" data-holder-rendered="true">
            {% endif %}
        </a>
    </div>

</div>

<!-- <div class="col-md-6">
    <div class="jumbotron card card-block">
        <h2>
            <a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a>
        </h2>
        <p>
            This is a template for a simple marketing or informational website. It includes a large
            callout called the hero unit and three supporting pieces of content. Use it as a starting
            point to create something more unique.
        </p>
        <p>
            <a class="btn btn-primary btn-large" href="{{ instance.get_absolute_url }}">Read Article</a>
        </p>
    </div>
</div> -->
{% endfor %}






{% endblock %}